<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>12-web-cookie</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServlet2</display-name>
    <servlet-name>cookieServlet2</servlet-name>
    <servlet-class>com.atguigu.servlet.cookieServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet2</servlet-name>
    <url-pattern>/cookieServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServlet3</display-name>
    <servlet-name>cookieServlet3</servlet-name>
    <servlet-class>com.atguigu.servlet.cookieServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet3</servlet-name>
    <url-pattern>/cookieServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookieServlet4</display-name>
    <servlet-name>cookieServlet4</servlet-name>
    <servlet-class>com.atguigu.servlet.cookieServlet4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieServlet4</servlet-name>
    <url-pattern>/cookieServlet4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sessionServlet</display-name>
    <servlet-name>sessionServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.sessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionServlet</servlet-name>
    <url-pattern>/sessionServlet</url-pattern>
  </servlet-mapping>
</web-app>