<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>user</param-name>
    <param-value>Jerry</param-value>
  </context-param>
  <context-param>
    <param-name>pwd</param-name>
    <param-value>112233</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Aservlet</servlet-name>
    <servlet-class>com.atguigu.servlet.Aservlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>Tom</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123456</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aservlet</servlet-name>
    <url-pattern>/Aservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bservlet</servlet-name>
    <servlet-class>com.atguigu.servlet.Bservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bservlet</servlet-name>
    <url-pattern>/Bservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Cservlet</servlet-name>
    <servlet-class>com.atguigu.servlet.Cservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cservlet</servlet-name>
    <url-pattern>/Cservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DServlet</display-name>
    <servlet-name>DServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.DServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DServlet</servlet-name>
    <url-pattern>/DServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EServlet</display-name>
    <servlet-name>EServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.EServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EServlet</servlet-name>
    <url-pattern>/EServlet</url-pattern>
  </servlet-mapping>
</web-app>